<!doctype html>
<body>
  <div class= wrapper-home>

   <div class="centered">
      <h1>Art Of Smack</h1>
      <h2>Where fans can perfect the art of the Smack Talk.</h2>
      <!-- begin post to apply app -->
      <form class="form-lead-capture form-lead-capture-landing" action="/apply/get_started" method="post" special="" novalidate="" id="id_get_started_form">
          <input type="hidden" name="csrfmiddlewaretoken" value="uoNBsFX5M2xq07nho3WBJHpeOSo4EmYi">

             <div>
                 <label class="email-capture">
                     <input name="email" class="input-email" type="email" placeholder="Enter your email address">
                 </label>
             </div>
             <div>
                 <label class="password-capture">
                     <input name="password" class="input-password" type="password" placeholder="Create your password" autocomplete="off">
                 </label>
             </div>
             <input type="submit" class="button button-nav input-lead-gen" value="Sign In with Bleacher Report">
           </form>
      <!-- end post to apply app -->
    </div>

    <a class="twitter-timeline" href="https://twitter.com/ArtOfSmack" data-widget-id="611625310182727680">Tweets by @ArtOfSmack</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

  </div>
</body>
